*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Outfit", sans-serif;
    background: #050B16;
    color: #ffffff;
}
/* navbar */
header{
    width:100%;
    padding:20px 60px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom:1px solid #131314;
    background: #111827;

}
.nav{
    display: flex;
    gap: 45px;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}
nav a:hover{
    color: #2D7DFF;
}
nav a.active{
    color:#2D7DFF;
    font-weight: bold;
    padding: 5px;
    border-bottom: 2px solid #2D7DFF;
}
.nav li{
    list-style: none;
}
/* logo */
.logo{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #fff;
}
.logo img{
    width: 120px;
    height: auto;
}
.logo span{
    color: blue;
}

