*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Outfit", sans-serif;
    background: #050B16;
    color: #ffffff;
}
/*=== navbar ===*/
header{
    width:100%;
    padding:20px 30px;
}
.container{
    max-width:1500px;
    margin:auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border:1px solid rgba(255,255,255,.05);
    border-radius: 16px;
    background: #091220;
    box-shadow:0 10px 30px rgba(0,0,0,.45);
}
.nav{
    display: flex;
    gap: 45px;
    align-items: center;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}
.nav a:hover{
    color: #2D7DFF;
    transform:translateY(-1px);
}
.nav a.active{
    color:#2D7DFF;
    font-weight: bold;
    padding-bottom:3px;
    border-bottom: 2px solid #2D7DFF;
}
.nav li{
    list-style: none;
}
/* logo */
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.logo img{
    width: 120px;
    height: auto;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 2px solid rgba(255,255,255,0.15);

}
.logo span{
    color: #2D7DFF;
    font-weight: bold;
}
/* Resume button */
.resume-btn{
    text-decoration: none;
    border: 1px solid #2D7DFF;
    border-radius: 10px;
    padding: 12px 25px;
    color: #2D7DFF;
    transition: 0.3s;
}
.resume-btn:hover{
    background:#2D7DFF;
    color:#fff;
    transform:translateY(-1px);
}
